image: "rust:latest"

workflow:
    rules:
        - if: '$CI_PIPELINE_SOURCE == "web"'
          when: always
        - changes:
              - "src/**/*"
        - when: never

variables:
    CARGO_TERM_COLOR: always
    RUSTFLAGS: "-D warnings"
    RUSTDOCFLAGS: "-D warnings"

stages:
    - debug
    - static
    - test
    - metadata
    - build
    - release

show-versions:
    stage: debug
    script:
        - rustc --version
        - cargo --version
        - cargo fmt --version
        - cargo clippy --version

cargo-check:
    stage: static
    script:
        - cargo check --all-features --verbose

cargo-fmt:
    stage: static
    script:
        - cargo fmt --all -- --check

cargo-clippy:
    stage: static
    script:
        - cargo clippy --verbose

cargo-test:
    stage: test
    script:
        - cargo test --workspace --verbose

parse-metadata:
    rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - when: never
    stage: metadata
    script:
        - echo "metadata"

build-binaries:
    rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - when: never
    stage: build
    script:
        - echo "build-binaries"

upload-binaries:
    rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - when: never
    stage: release
    script:
        - echo "upload-binaries"

create-release:
    rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - when: never
    stage: release
    script:
        - echo "create-release"