image: "rust:latest"

workflow:
    rules:
        - if: '$CI_PIPELINE_SOURCE == "web"'
          when: always
        - changes:
              - "src/**/*"
        - when: never

variables:
    CARGO_TERM_COLOR: always
    RUSTFLAGS: "-D warnings"
    RUSTDOCFLAGS: "-D warnings"

stages:
    - debug
    - static
    - test
    - metadata
    - build
    - release

show-versions:
    stage: debug
    script:
        - rustc --version
        - cargo --version
        - rustup --version
        - rustup component list

cargo-check:
    stage: static
    script:
        - rustup component add rustfmt clippy
        - cargo check --all-features --verbose --release

cargo-fmt:
    stage: static
    script:
        - rustup component add rustfmt
        - cargo fmt --all -- --check

cargo-clippy:
    stage: static
    script:
        - rustup component add clippy
        - cargo clippy --all-features --verbose --release

cargo-test:
    stage: test
    script:
        - rustup component add clippy rustfmt
        - cargo test --workspace --all-features --verbose --release

parse-metadata:
    stage: metadata
    rules:
        - if: '$CI_PIPELINE_SOURCE == "web"'
        - when: never
    script:
        - echo "metadata"

build-binaries:
    stage: build
    rules:
        - if: '$CI_PIPELINE_SOURCE == "web"'
        - when: never
    script:
        - echo "build-binaries (release mode)"

upload-binaries:
    stage: release
    rules:
        - if: '$CI_PIPELINE_SOURCE == "web"'
        - when: never
    script:
        - echo "upload-binaries"

create-release:
    stage: release
    rules:
        - if: '$CI_PIPELINE_SOURCE == "web"'
        - when: never
    script:
        - echo "create-release"